/** general */
@font-face {
  font-family: "Helvetica Neue";
  src: url("../assets/fonts/helveticaneue/HelveticaNeue\ Light.ttf")
    format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../assets/fonts/helveticaneue/HelveticaNeueBd.ttf")
    format("truetype");
  font-weight: bold;
}

:root {
  --white: #fff;
  --gray: #888888;
  --dark-gray: #707070;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.2rem;
  color: var(--gray);
}

*,
button,
input {
  outline: 0;
  font-family: "Helvetica Neue";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  color: var(--gray);
  border: 1px solid var(--dark-gray);
  border-radius: 0.4rem;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}

.btn:hover {
  background: var(--gray);
  color: var(--white);
}

input[type="text"],
input[type="email"],
input[type="number"] {
  width: 100%;
  height: 3rem;
  padding: 0 0.5em;
  border: 1px solid var(--dark-gray);
  color: var(--gray);
}

a {
  text-decoration: none;
}

header {
  height: 40rem;
  background: var(--dark-gray);
  color: var(--white);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 78%);
}

header div.header-title {
  max-width: 92rem;
  margin: 0 auto;
  padding: 6.6em 1em 0;
}

header div.header-title h1 {
  font-size: 4rem;
}

header div.header-title h1 span {
  font-size: 2rem;
  font-weight: normal;
}

header div.header-title p {
  margin-top: 0.9em;
  font-size: 1.4rem;
}

nav {
  position: relative;
  max-width: 92rem;
  display: flex;
  justify-content: center;
  margin: -13rem auto 5rem;
  z-index: 1;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(2, 16rem);
  gap: 2rem;
  list-style: none;
}

nav ul li a.btn {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

footer {
  height: 15.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  padding-top: 4rem;
  background: var(--dark-gray);
  color: var(--white);
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
}

footer p {
  margin-bottom: 0.5rem;
}

/** product card */
.product-card {
  max-width: 40rem;
  width: 100%;
  display: flex;
  margin: 0 auto;
}

.product-card + .product-card {
  margin-top: 3rem;
}

.product-card img {
  max-width: 20rem;
  width: 100%;
  height: auto;
  margin-right: 2.4rem;
}

.product-card > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card .product-card__name {
  margin-bottom: 1.2em;
  font-size: 1.4rem;
}

.product-card .product-card__description {
  display: none;
}

.product-card .product-card__description,
.product-card .product-card__full-price,
.product-card .product-card__discount-price {
  margin-bottom: 0.8rem;
}

.product-card .product-card__discount-price {
  font-size: 1.6rem;
  font-weight: bold;
}

.product-card .btn {
  width: 100%;
  height: 3rem;
  margin-top: 1.2rem;
  font-size: 1.6rem;
}

/** page */
.home {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.home main {
  max-width: 92rem;
  margin: 0 auto;
}

.home main > article > h3 {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 2.4em;
  font-size: 1.8rem;
  text-align: center;
}

.home main > article > h3::before,
.home main > article > h3::after {
  content: "";
  display: block;
  height: 1px;
  background: var(--dark-gray);
}

.home main > article + article {
  margin-top: 8em;
}

.home main article.algorithm {
  padding: 0 1.6rem;
}

.home main article.algorithm h2 {
  margin-bottom: 1.6em;
  text-align: left;
}

.home main article.algorithm > div.algorithm__content p + p {
  margin-top: 1.6em;
}

.home main article.algorithm form {
  margin-top: 3em;
}

.home main article.algorithm form > div + div {
  margin-top: 2em;
}

.home main article.algorithm form div.input-radio label {
  margin-right: 4em;
}

.home main article.algorithm form .btn {
  width: 100%;
  height: 4rem;
  margin-top: 2em;
  font-size: 1.6rem;
}

.home main article.product-selection div.product-selection__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1.6em;
}

.home main article.product-selection > div.btn {
  max-width: 26rem;
  height: 4rem;
  margin: 6.4em auto 0;
}

.home article.share div.share__content {
  padding: 0 1.6rem;
}

.home article.share div.share__content > p {
  margin-bottom: 2.4em;
  text-align: center;
}

.home main article.share form div.input-group div + div {
  margin-top: 2em;
}

.home main article.share form button.btn {
  width: 26rem;
  height: 4rem;
  margin: 2em auto 0;
  font-size: 1.6rem;
}

/** media query */

@media (min-width: 48em) {
  header {
    text-align: center;
  }

  nav {
    margin: -13em auto 11em;
  }

  nav ul {
    grid-template-columns: repeat(4, 16rem);
  }

  .home main article.algorithm > div.algorithm__content {
    display: grid;
    grid-template-columns: 1fr 34rem;
    gap: 6rem;
  }

  .home main article.algorithm form {
    margin-top: 0;
  }

  .home main article.share form div.input-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  .home main article.share form div.input-group div + div {
    margin-top: 0;
  }
}

@media (min-width: 57.5em) {
  .home main article.product-selection div.product-selection__content {
    margin-top: -3rem;
  }

  .product-card {
    max-width: 20rem;
    flex-direction: column;
  }

  .product-card {
    margin-top: 3rem;
  }

  .product-card img {
    margin-bottom: 1.6rem;
    margin-right: 0;
  }

  .product-card .product-card__description {
    display: block;
  }
}
